# .gitignore

# Ignore Python bytecode and cache files
__pycache__/
*.py[cod]
.pytest_cache/
*.so

# Virtual environment
venv/
.env

# Terraform directories and files
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup

# Lambda deployment files
lambda_package.zip


# Virtual environment directories
src/venv/
src/bin/
src/lib/
src/include/
src/pyvenv.cfg
